name: Deploy-pages

on:
  release:
    types: [published, edited]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: check
        run: echo "${{ github.event.release.tag_name }}"
      
  
      
      
